.payment-method-box {
  position: relative;
  left: 250px;
}
.back-next-button {
  width: 50%;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .payment-method-box {
    position: relative;
    left: 10px;
    width: 90%;
  }
  .back-next-button {
    width: 95%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .payment-method-box {
    position: relative;
    left: 20px;
    width: 90%;
  }
  .back-next-button {
    width: 95%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .payment-method-box {
    position: relative;
    left: 100px;
    width: 70%;
  }
  .back-next-button {
    width: 95%;
  }
}
