.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
  margin-left: 90px;
  margin-top: 20px;
}

label {
  margin-right: 20px;
}

select {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}
.book-box {
  margin-left: 15px;
  cursor: pointer;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .filter-container {
    flex-direction: column;
    margin-left: 15px;
    width: 90%;
  }

  label {
    margin-right: 0;
    margin-bottom: 10px;
  }

  select {
    width: 100%;
  }

  .book-box {
    margin-left: 0;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .filter-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    width: 90%;
  }
  label {
    margin-right: 20px;
  }

  select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
  }

  .book-box {
    margin-left: 60px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .filter-container {
    flex-direction: column;
    margin-left: 50px;
    width: 90%;
  }
  label {
    margin-right: 0;
    margin-bottom: 10px;
  }
  select {
    width: 70%;
    margin-left: 10px;
  }
  .book-box {
    margin-left: 40px;
  }
}
